@model ChatAppProject.Models.RegisterAppUser
@{

    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mega Able bootstrap admin template by codedthemes </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes" />
    <!-- Favicon icon -->

    <link rel="icon" href="~/mega-able-lite/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/mega-able-lite/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/mega-able-lite/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/mega-able-lite/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/mega-able-lite/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/mega-able-lite/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/mega-able-lite/assets/css/style.css">
</head>

<body themebg-pattern="theme1">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form class="md-float-material form-material" method="post" action="/Register/Index">
                        <div class="text-center">
                            <img src="~/mega-able-lite/assets/images/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center txt-primary">Kayıt Ol</h3>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" asp-for="Name" class="form-control" required="">
                                    <span asp-validation-for="Name" class="form-bar"></span>
                                    <label class="float-label">Adınız </label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" asp-for="Surname" class="form-control" required="">
                                    <span asp-validation-for="Surname" class="form-bar"></span>
                                    <label class="float-label">Soyadınız</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="text" asp-for="UserName" class="form-control" required="">
                                    <span asp-validation-for="UserName" class="form-bar"></span>
                                    <label class="float-label">Kullanıcı Adınız</label>
                                </div>


                                <div class="form-group form-primary">
                                    <input type="email" asp-for="Email" class="form-control" required="">
                                    <span asp-validation-for="Name" class="form-bar"></span>
                                    <label class="float-label">Email</label>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" asp-for="Password" class="form-control" required="">
                                            <span asp-validation-for="Password" class="form-bar"></span>
                                            <label class="float-label">Şifreniz</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-primary">
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" required="">
                                            <span asp-validation-for="ConfirmPassword" class="form-bar"></span>
                                            <label class="float-label">Şifre Tekrar</label>
                                        </div>
                                    </div>
                                    <div class="row m-t-25 text-left">
                                        <div class="col-md-12">
                                            <div class="checkbox-fade fade-in-primary">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse"> <a href="#">Şartları &amp; Koşulları</a> okudum ve kabul ediyorum.</span>
                                                </label>
                                            </div>
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        </div>

                                    </div>

                                </div>


                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <!-- Butonun type özelliği submit olarak ayarlandı -->
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Kayıt Ol</button>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <a href="/Login/Index">Giriş Yap</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/mega-able-lite/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/assets/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/mega-able-lite/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/assets/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/mega-able-lite/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/mega-able-lite/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/mega-able-lite/assets/js/SmoothScroll.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/mega-able-lite/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <script type="text/javascript" src="~/mega-able-lite/assets/js/common-pages.js"></script>
</body>

</html>
